
<h2>{{ blog.Blog_Title }} Details:<h2>
<h3>Blog Title : {{ blog.Blog_Title }}</h3>
<a>Field : {{blog.Blog_Field}}</a><br>
<a>Description : {{blog.Blog_Description}}</a><br>
<a href={{blog.URL}}>URL : {{blog.URL}}</a><br>
<a>Likes : {{blog.Like}}</a><br>

<form action="{% url 'blogs:vote' blog.id %}" method="post">
{% csrf_token %}
<p><label for="id_name">User Name:</label>
   <input type="text" name="user_name" id="user_name_{{blog.id}}" value=" " ></p>
<p><label for="id_comment">Comment:</label>
  <textarea rows="4" cols="50" name="comment" id="comment_{{blog.id}}" value=" "></textarea><p>
<input type="submit" id = "submit" value="Save" />
<input type="submit" id = "submit_vote" value="Like And Save" />
</form>
